body{
    background: rgb(17, 17, 17);
}
.logo{
    text-align: right;
    margin-top: 29px;
}
.nav-con{
    margin-right: 150px;
    width: 1100px;
    height: 80px;
    font-family: 'Cabin', sans-serif;
    font-weight: 500;
}
.nav-con ul{
    list-style: none;
}
.nav-con li{
    float: left;
    margin-left: 40px;
    margin-top: 25px;  
    color: white;
} 
.button{
    margin: 0 auto;
    width: 230px;
    height: 45px;
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    border: 3px solid #E11E19;
    padding-left: 20px;
    padding-top: 8px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.button img{
    float: right;
    margin-right: 20px;
    padding-top: 2px;
}

header{
    width: 100%;
    height: 800px;
    background-image: url("../assets/alternative-rock.jpg");
    background-position: none;
    background-size: cover;
    color: white;
}
header h3{
    margin-top: 90px;
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 35px;
}
header h1{
    font-family: 'Cabin', sans-serif;
    font-weight: 500;
    font-size: 70px;
}
.overlay-header{
    width: 100%;
    height: 800px;
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 120px;
    padding-top: 200px;
    margin-top: -96px;
}
.btn{
    width: 210px;
    height: 65px;
    margin-right: 20px;
    border-radius: 50px;
    padding-top: 18px;
}
.inverted{
    margin-top: 40px;
    background-color:#E11E19 ;
    color: black;
}
.normal{
    margin-top: 40px;
    color: white;
    background-color: none;
    border: 3px solid #E11E19;
    padding-top: 18px;

}
.normal:hover{
    color: black;
    background-color:#E11E19 ;
    padding-top: 18px;

}
.inverted:hover{
    cursor: pointer;
    border: 3px solid #E11E19;
    color: white;
    padding-top: 16px;

}
.btn-like{
    float: right;
    margin-right: 690px;
    margin-top: 35px;
}

.col-left{
    width: 600px;
    height: 300px;
    margin: auto 0;
    margin-top: -80px;
    background-color: #2b2b2b;
}
.col-right{
    width: 600px;
    height: 400px;
    background-color:
    #171e1ff1;
    margin-left: -50px;
    margin-bottom: 50px;
    margin-top: -80px;
    color: white;
}
.text{
    margin-top: 5px;
    width: 500px;
    padding-top: 25px;
    padding-left: 100px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.text h2{
    font-family: 'Cabin', sans-serif;
    font-weight: 500;
    margin-top: 45px;
}
.btn-slider{
    padding-top: 330px;
    padding-left: 430px;
 
}
.btn-slider img{
    padding-left: 20px;

}

.col-box{
    width: 250px;
    height: 250px;
    margin-left: 10px;
    margin-bottom: 40px;
}  
.overlay{
    width: 250px;
    height: 250px;
    background-color: rgba(0, 0,0,0.4);
    opacity: 0;
} 
.overlay:hover{
    cursor: pointer;
    opacity: 1;
} 
.icon{
    text-align: center;
    padding-top: 70px;
}
.content{
    width: 250px;
    height: 70px;
    margin-top: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}
.skrif{
    float: left;
}
.skrif p{
    padding-top: 8px;
    padding-left: 20px;
}
.skrif h4{
    padding-left: 20px;
    margin-top: -18px;
}

.like{
    float: right;
    margin-top: 16px;
    margin-right: 15px;
}

#txt{
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
    color: white;
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
}
.video-one{
    background-image: url("../assets/yankee.jpg");
    background-size: cover;
    background-position: center;
}
.two{
    background-image: url("../assets/ginger.jpg");
    background-size: cover;
    background-position: center;
}
.three{
    background-image: url("../assets/who.jpg");
    background-size: cover;
    background-position: center;
}
.four{
    background-image: url("../assets/mix.jpg");
    background-size: cover;
    background-position: center;
}
#popular{
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
    color: white;
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
}
.video-two{
    background-image: url("../assets/fuji_kaze.jpg");
    background-size: cover;
    background-position: center;
}
.iitwo{
    background-image: url("../assets/chillibeans.png");
    background-size: cover;
    background-position: center;
}
.iithree{
    background-image: url("../assets/kungfu.jpg");
    background-size: cover;
    background-position: center;
}
.iifour{
    background-image: url("../assets/vaundy.jpg");
    background-size: cover;
    background-position: center;
}
.video-three{
    background-image: url("../assets/yaosobi.jpg");
    background-size: cover;
    background-position: center;
}
.iiione{
    background-image: url("../assets/chilli.jpg");
    background-size: cover;
    background-position: center;
}
.tomoo{
    background-image: url("../assets/tomoo.jpg");
    background-size: cover;
    background-position: center;
}
.iiithree{
    background-image: url("../assets/sheep.jpg");
    background-size: cover;
    background-position: center;
}

footer{
    width: 100%;
    height: 100px;
    color: white;
}
.text{
    float: left;
    padding-left: 130px;
    font-family: 'Cabin', sans-serif;
    font-weight: 600;
}
.socials{
    float: right;
    margin-right: 130px;   
    padding-top: 20px;
}
.socials img{
    margin-left: 20px;
}